version: '3'
services:
  nginx:
    image: nginx
    ports:
      - 80:80
    depends_on:
      - sw-api
    networks:
      - app-network
  sw-api:
    image: sw-api
    ports:
      - 9000:9000
    volumes:
      - ./src/api/.:/var/www/sw-api
    depends_on:
      - mysql
    networks:
      - app-network
  mysql:
    image: mysql
    ports:
      - '3306:3306'
    expose:
      - '3306'
    environment:
      MYSQL_DATABASE: sw_api_db
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-network
volumes:
  dbdata:
    driver: local

networks:
  app-network:
    driver: bridge

