version: '3'
services:
  nginx:
    image: typeqast-api-nginx
    ports:
      - 80:80
    depends_on:
      - typeqast-api
    networks:
      - app-network
  typeqast-api:
    image: typeqast-api
    ports:
      - 9000:9000
    volumes:
      - ./src/.:/var/www/typeqast-api
    depends_on:
      - mysql
    networks:
      - app-network
  mysql:
    image: typeqast-api-mysql
    ports:
      - '3306:3306'
    expose:
      - '3306'
    environment:
      MYSQL_DATABASE: typeqast_api_db
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-network
volumes:
  dbdata:
    driver: local

networks:
  app-network:
    driver: bridge

